// reference/variables/_colors.scss

// Color
$white: #ffffff;
$black: #000;


// Greys
$contacts-border:		#979797;
$contacts-type:			#808080;
$contacts-value:		#4A4A4A;
$copywrite:				#5c5c5c;
$grey-border:   		#DCDBD7;
$grey-icon-fill:   		#323232;
$formtext:          	#787878;
$testimonial: 			#3c3c3c;
$testimonials-name:		#969696;
$footer-bottom-border: 	#282828;
$footer-main: 			#DCDCDC;


// Blues
$services-dark-blue:  	#3c6c9a;
$services-light-blue:  	#4a90e2;

//Greens
$services-dark-green:  	#658c37;
$services-light-green: 	#84b250;
