// reference/variables/_colors.scss

// Color
$white: #ffffff;
$black: #000;


// Greys
$grey-border:   #DCDBD7;
$grey-icon-fill:   #323232;
$testimonial: #3c3c3c;


// Blues
$services-dark-blue:  #3c6c9a;
$services-light-blue:  #4a90e2;

//Greens
$services-dark-green:  #658c37;
$services-light-green: #84b250;
