// Font families
$font-family-default: 'Open Sans'; // Should be linked by google fonts
$font-family-fallback1: 'arial';


// Font Wegihts
$font-weight-light: 	300;
$font-weight-medium: 	400;
$font-weight-normal: 	600;
$font-weight-bold: 		700;
