// main.sass

@import 'reference/reference';

html {
	overflow-y: scroll;
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
	// margin-left: 7.5px;
}

body {
	font-family: $font-family-default, $font-family-fallback1;
	color: $white;
}
