@import '../reference/reference';

$block: 'st-services__business';




.#{$block} {
	background-color: $services-dark-blue;

	& .st-services__tab-main {
		background-color: $services-light-blue;
	}

	& .st-services__item--active {
		@media all and (max-width: 768px) {
			&:before {
				background-color: $services-light-blue;
			}
		}

		& ~ .st-services__item-content {

			&:before {
				background-color: $services-light-blue;

			}
		}
	}
}
