@import '../reference/reference';

$block: 'st-services';

.#{$block} {

	&__business {
		background-color: $services-dark-blue;
	}

	&__tab {

		&-main-business {
			background-color: $services-light-blue;
		}
	}

	&__item {

		&--active-business {

			@media all and (max-width: 768px) { //this is kind of a fucked up way to fix margins
				&:before {
					background-color: $services-light-blue;
				}
			}

			& ~ .st-services__item-content-business {

				&:before {  //this is kind of a fucked up way to fix margins ***not showing placeholder text
					background-color: $services-light-blue;

				}
			}
		}
	}
}
