@import '../reference/reference';

$block: 'st-footer';

.#{$block} {

	&__content {
		background-color: $footer-main;
		padding: 20px 20px 10px 20px;

		@media all and (min-width: 768px) {
			padding: 20px;
		}
	}

	h2 {
		text-align: center;
		margin: 0;
		padding-bottom: 5px;
		color: $contacts-value;
		font-size: 22px;

		@media all and (min-width: 768px) {
			padding-bottom: 30px;
			padding-top: 17px;
			font-size: 28px;
		}
	}

	&__logo {
		background-image: url('/images/logo.png');
		width: 300px;
		height: 75px;

		@media all and (max-width: 768px) {
			display: none;
		}
	}

	&__contact {
		font-size: 16px;
		border-bottom: $contacts-border solid 1px;
		padding-bottom: 20px;
		margin: 0;

		@media all and (min-width: 768px) {
			border: none;
			padding-top: 40px;
		}

		&-value a {
			color: $contacts-value;

			&:hover {
				text-decoration: underline;
			}
		}

		&-type {
			color: $contacts-type;
			padding-right: 7px;
		}
	}

	&__bar {
		background-color: $footer-bottom-border;
		width: 100%;
		box-sizing: border-box;
		padding: 5px 20px;
		@include clear-fix();

		span {
			color: $copywrite;
			font-size: 10px;
			font-weight: normal;

			a {
				color: $copywrite;
				text-decoration: none;

				&:visited {
					color: $copywrite;
				}
				&:hover {
					color: $copywrite;
					text-decoration: underline;
				}
				&:active {
					color: $copywrite;
				}
			}
		}

		&-left {
			width: 50%;
			float: left;
		}

		&-right {
			text-align: right;
			width: 50%;
			float: right;

			svg {
				display: inline-block;
				vertical-align: top;
			}

			a {
				display: inline-block;
				height: 24px;
				width: 21px;
			}
		}
	}
}
