// components/_header.sass

@import '../reference/reference';

$block: 'st-header';

.#{$block} {


	&__image {
		background-image: url('/images/spokane.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		min-height: 173px;
		position: relative;


	}

	&__logo {
	margin: 10px 10px 36px 10px;
	width: 300px;
	height: 75px;

	@media all and (min-width: 768px) {
	width: 300px;
	height: 75px;
	max-width: none;;
	max-height: none;
	}

	}

	&__container {
		color: white;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		box-sizing: border-box;

	@media all and (min-width: 768px) {
	padding-top: 20px;
	float: right;
	}

	}


	&__container-phone {
		position: relative;
		box-sizing: border-box;
		width: 157px;
		display: inline-block;
		padding: 7px 0 7px 33px;
		border: 1px solid rgba(255, 255, 255, 0.8);
		background-color: rgba(50, 50, 50, 0.6);


		&:before {
			background-image: url('/images/old-phone.png');
			background-repeat: no-repeat;
			content: '';
			position: absolute;
			width: 20px;
			height: 16px;
			top: 7.5px;
			left: 7.5px;
		}
	}

	&__container-email {
		position: relative;
		box-sizing: border-box;
		width: 81px;

		padding: 7px 0 7px 33px;
		margin-right: 45px;  //margins dont collapse between email and phone
		display: inline-block;
		border: 1px solid rgba(255, 255, 255, 0.8);
		background-color: rgba(50, 50, 50, 0.6);


		&:before {
			background-image: url('/images/mail.png');
			background-repeat: no-repeat;
			content: '';
			position: absolute;
			width: 18px;
			height: 11.32px;
			top: 9px;
			left: 7.5px;
	}
}


	&__span {
		color: yellow;
	}

	&--modifier {
	}

	p {
		color: green;
	}
}
