@import '../reference/reference';

$block: 'icon';

.#{$block} {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	color: #ccc;

	a:hover & {
		color: #eee;
	}

	&-google-plus-square {
		width: 21px;
		height: 24px;
	}

	&-facebook-square {
		width: 21px;
		height: 24px;
	}
}
