@import '../reference/reference';

$block: 'st-services__residential';
 //this style sheet is "scoped" to this class and cotnains the entirety of the html conentet related to business services
//we can target only residential services elements by writing css rules with specificity by starting with the st-services_business class



.#{$block} {
	background-color: $services-dark-green;

	& .st-services__tab-main {
		background-color: $services-light-green;
	}

	& .st-services__item--active {
		@media all and (max-width: 768px) {
			&:before {
				background-color: $services-light-green;
			}
		}

		& ~ .st-services__item-content {

			&:before {
				background-color: $services-light-green;

			}
		}
	}
}
