@import '../reference/reference';

$block: 'st-services';

.#{$block} {
	padding: 0px 15px;
	overflow-x: hidden;
	border-bottom: $white solid 1px;
	// z-index: 9999;

	//@media screen and (min-width: 768px) {

		// margin-bottom: -1px;
	//}

	& h2 {
		font-weight: $font-weight-light;
		font-size: 18px;
		padding: 30px;
		margin: 0;
		position: relative;

		//this puts borders below both H2
		&:before {
			content: '';
			position: absolute;
			border-bottom: $white solid 1px;
			bottom: 0;
			left: -999px;
			right: -999px;
		}

		& strong {
			font-weight: $font-weight-bold;
		}
	}

	h3 {
		font-weight: $font-weight-light;
		font-size: 15px;

		@media screen and (min-width: 768px) {
			font-size: 16px;
		}

	}

	&__content-box {
		display: none;
	}


//this hides the last TWO bottom borders on .st-services__tab:before psuedo class when in tablet + desktop state
	@media screen and (min-width: 768px) {
		.grid__row:last-of-type {
			> .st-services__tab:before {
				border-bottom-style: hidden;
			}
		}
	}


//this hides the last bottom border on .st-services__tab:before psuedo class when in mobile state
	@media screen and (max-width: 768px) {
		.grid__row:last-of-type {
			> .st-services__tab:nth-of-type(2):before {
				border-bottom-style: hidden;
			}
		}
	}

	&__tab {
		position: relative;
		display: block;


		@media screen and (min-width: 768px) {
			max-width: 344px;
			margin: 0 12.5px;

			&:before {
				position: absolute;
				content: '';
				border-bottom: $white solid 1px;
				border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
				bottom: 0px;
				width: 94%;

			}
		}

		@media screen and (max-width: 768px) {

			&:before {
				position: absolute;
				content: '';
				border-bottom: rgb(255, 255, 255) solid 1px;
				border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
				right: -9999px;
				left: -9999px;
				bottom: 0px;

			}
		}

		&:last-of-type {
			&:before{
				border:none;
			}
		}



		&:after {
		background-image: url('/images/arrow.png');
		background-repeat: no-repeat;
		content: '';
		position: absolute;
		width: 11px;
		height: 7px;
		background-repeat: no-repeat;
		position: absolute;
		right: 12.5px;
		top: 50%;
		margin-top: -3.5px;
	}

		&-main {

			border-bottom: 1px solid $white;
			font-size: 18px;
			font-weight: $font-weight-bold;
			margin: 0 -15px;
			padding: 9px 15px;
			position: relative;
			text-align: center;


			// @media screen and (max-width: 768px) {
			// 	border-bottom: 0;
			// }



			&:after{
				background-image: url('../images/arrow.png');
				background-repeat: no-repeat;
				content: '';
				position: absolute;
				width: 11px;
				height: 7px;
				background-repeat: no-repeat;
				display: inline-block;
				vertical-align: middle;
				position: absolute;
				top: 50%;
				margin: -3.5px 0 0 10px;


				@media screen and (max-width: 768px) {
					right: 20px;
					top: 50%;
				}

				@media screen and (min-width: 768px) {

				}


			}



			&--active {
				border-bottom: 1px solid $white;

				&:after {
					background-image: url('../images/arrow-active.png');
				}

				~ .st-services__content-box {
					display: block;

					@media all and (min-width: 768px) {
						max-width: 741px;
						margin: 0 auto;
					}

				}
			}


		}
	}

	&__item {
		position: relative;
			// max-width: 344px;

		& > * {    //this means target all children
			position: relative;
			z-index: 100;
		}

		&-content {
			display: none;

			&:before {
				margin-top: -1px;
			}

		}

		&:after {
			background-image: url('/images/arrow.png');
		}

		&--active {

			@media all and (max-width: 768px) { //this is kind of a fucked up way to fix margins

				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					right: -7.5px;
					left:-7.5px;
				}
			}
			@media all and (min-width: 768px) {

				h3 {
					background: none;
					text-decoration:underline;
				}
			}

			h3 {
				font-weight: 600;
			}

			& ~ .st-services__item-content {
				position: relative;


				& > * {
					position:relative;
					z-index: 100;

				}

				&:before {  //this is kind of a fucked up way to fix margins ***not showing placeholder text
					content: '';
					position: absolute;
					top: 0;
				    bottom: 0;
					// left: -7.5px;
					// right:-7.5px;
				    left: -9999px;
				    right: -9999px;
				}

				@media all and (min-width: 768px) {
					display: block;
				}

			}

			&:after {
				background-image: url('/images/arrow-active.png');
			}
		}
	}

	&__hidden {
		display: none;
		// background-color: $services-bg;

		&--md {
			margin-right: 30px;
			@media all and (min-width: 768px) {
				display: none;
			}
		}
	}

	&__bottom-bar {
		height: 28px;
		width: 100%;
		//this is strange...it works though. Okay?
		// margin-left: -15px;
		// padding-right: 30px;
	}
}
