@import '../reference/reference';

$block: 'st-services';

.#{$block} {
	padding: 0px 15px;
	overflow-x: hidden;

	& h2 {
		font-weight: $font-weight-light;
		font-size: 18px;
		padding: 30px;
		margin:0;

		& strong {

			font-weight: $font-weight-bold;
		}
	}

	h3 {
		font-weight: $font-weight-light;
		font-size: 15px;

	}

	&__content-box {
		display: none;
	}

	&__tab {
		position: relative;
		display: block;


		&:after {
		background-image: url('/images/arrow.png');
		background-repeat: no-repeat;
		content: '';
		position: absolute;
		width: 11px;
		height: 7px;
		background-repeat: no-repeat;
		position: absolute;
		right: 12.5px;
		top: 50%;
		margin-top: -3.5px;
	}

		&-main {
			padding: 9px 15px;
			margin: 0 -15px;
			border-top: 1px solid $white;
			border-bottom: 1px solid $white;
			font-size: 18px;
			font-weight: $font-weight-bold;
			position:relative;


			&:after{
				background-image: url('../images/arrow.png');
				background-repeat: no-repeat;
				content: '';
				position: absolute;
				width: 11px;
				height: 7px;
				background-repeat: no-repeat;
				position: absolute;

				@media screen and (max-width: 768px) {
					right: 20px;
					top: 50%;
				}

				@media screen and (min-width: 768px) {

				}


			}



			&--active {

				&:after {
					background-image: url('../images/arrow-active.png');
				}

				~ .st-services__content-box {
					display: block;

					@media all and (min-width: 768px) {
						max-width: 741px;
						margin: 0 auto;
					}

				}
			}


		}
	}

	&__item {
		position: relative;
			// max-width: 344px;

		& > * {    //this means target all children
			position: relative;
			z-index: 100;
		}

		&-content {
			display: none;
		}

		&:after {
			background-image: url('/images/arrow.png');
		}

		&--active {

			@media all and (max-width: 768px) { //this is kind of a fucked up way to fix margins
				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					right: -7.5px;
					left:-7.5px;
				}
			}
			@media all and (min-width: 768px) {
				background: none;
				text-decoration:underline;
				font-weight: 600;
			}

			& ~ .st-services__item-content {
				position: relative;


				& > * {
					position:relative;
					z-index: 100;
				}

				&:before {  //this is kind of a fucked up way to fix margins ***not showing placeholder text
					content: '';
					position: absolute;
					top: 0;
				    bottom: 0;
					// left: -7.5px;
					// right:-7.5px;
				    left: -9999px;
				    right: -9999px;
				}

				@media all and (min-width: 768px) {
					display: block;

				}
			}

			&:after {
				background-image: url('/images/arrow-active.png');
			}
		}
	}

	&__hidden {
		display: none;
		// background-color: $services-bg;

		&--md {
			@media all and (min-width: 768px) {
				display: none;
			}
		}
	}


}
