@import '../reference/reference';

$block: 'st-testimonials';



.#{$block} {



	&__text {
		display: block;
		padding-bottom: 42px;
		width: 100%;
		padding-right: 15px;
		margin-left: -7.5px;
		margin-bottom: 9px;
		background-color: $testimonial;
		position: relative;

		@media screen and (max-width: 768px) {

		}

		@media screen and (min-width: 768px) {

		}


		&--hidden {
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}

	&__name {
		display: block;
		position: absolute;
		right: 15px;
	}


}
