@import '../reference/reference';

$block: 'st-testimonials';



.#{$block} {
background-color: $testimonial;
position: relative;
box-sizing: border-box;
padding: 20px;
display: table;
width: 100%;

	//The below handles the little "slit" of green or blue on the left of testemonials
	//when in mobile view
	@media screen and (max-width: 768px) {
		margin-left: 5px;
		padding-right: 25px;

		&:before {
			content: '';
			height: 100%;
			position: absolute;
			top: 0px;
			left: -999px;
			right: -999px;
			z-index: -1;
			border-bottom: $white solid 1px;
		}

		&:nth-of-type(2):before{
			background-color: $services-dark-blue;
		}
		&:nth-of-type(4):before{
			background-color: $services-light-green;
		}
	}

	//This puts a bottom border on both testemonial containers
	&:after {
		content: '';
		border-bottom: $white solid 1px;
		z-index: 99999;
		position: absolute;
		left: -999px;
		right: -999px;
		bottom: 0;
	}

	&__section {
		display: table-cell;

		@media screen and (min-width: 768px) {
			width: 50%;
			text-align: left;

			&:not(.st-testimonials__section--hidden) {
				padding-right: 20px;
			}
		}




		&--hidden {
			border-left: $formtext solid 1px;
			padding-left: 20px;

			@media screen and (max-width: 768px) {
				display: none;
			}

			em {
				text-align: left !important;
			}
		}
	}

	&__text {
		position: relative;
		font-weight: lighter;
		font-size: 14px;


		@media screen and (min-width: 768px) {
			max-width: 340px;

			&-left {
				position: absolute;
				right: 50%;
				top: 20px;
				margin-right: 20px;

				& em {
					padding-right: 40px;
				}

			}
		}
	}

	&__name {
		display: block;
		text-align: right;
		color: $testimonials-name;
		font-size: 12px
	}

	& em {
		padding-bottom: 20px;
		display: block;
		min-height: 39px;

		// @media screen and (min-width: 768px) {
		// text-align: right;
		// }
	}

}
