@import '../reference/reference';

$block: 'st-testimonials';

.#{$block} {
background-color: $testimonial;
position: relative;

	//this wrapper class is what is used to position the text correctly for testemonials
	&__wrapper {
		display: table;
		box-sizing: border-box;
		padding: 20px;
	}

	&__top	{
		border-left: $services-light-green solid 5px;

		@media screen and (min-width: 768px) {
			border: hidden;
		}
	}

	&__bottom {
		border-left: $services-dark-blue solid 5px;

		@media screen and (min-width: 768px) {
			border: hidden;
		}
	}

	//This puts a bottom border on both testemonial containers
	&:after {
		content: '';
		border-bottom: $white solid 1px;
		z-index: 99999;
		position: absolute;
		left: -999px;
		right: -999px;
		bottom: 0;
	}

	&__section {
		display: table-cell;
		vertical-align: top;
		position: relative;

		@media screen and (min-width: 768px) {
			width: 50%;
			text-align: left;

			&:not(.st-testimonials__section--hidden) {
				padding-right: 20px;
			}
		}

		&--hidden {
			border-left: $formtext solid 1px;
			padding-left: 20px;

			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}

	&__text {
		font-weight: lighter;
		font-size: 14px;
		margin-top: auto;
		vertical-align: top;
		padding-bottom: 20px;

		@media screen and (min-width: 768px) {

			&-left {

				.st-testimonials__name {
					right: 20px;
				}
			}
		}
	}

	&__name {
		display: block;
		text-align: right;
		color: $testimonials-name;
		font-size: 12px;
		position: absolute;
		bottom: 0;
		right: 0;
		margin-top: 20px;
	}

	& em {
		padding-bottom: 20px;
		display: block;
		min-height: 39px;
	}
}
