<div class="st-services st-services__business">
	<h2>{{{company.business.header-text}}}</h2>
	<div class="st-services__tab-main" type="tab" name="tab">{{company.business.menu-title}}</div>
	<div class="st-services__content-box">
		<div class="grid__row">
			<div class="grid__100">
				{{#each company.business.services}}
					<div class="grid__row">
						{{#each servicepair}}
							<div class="grid__100-50 st-services__tab st-services__item">
								<h3>{{servicename}}</h3>
								<p class="st-services__hidden st-services__hidden--md">{{description}}</p>
							</div>
						{{/each}}
						<div class="grid__100 st-services__item st-services__item-content">
							<p class="test">placeholder text</p>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div id="st-services__bottom-bar" class="st-services__bottom-bar"></div>
</div>
