<div class="st-services">
	<h2>Professional computer repair and network support at your Spokane business or home office.</h2>
	<div class="st-services__button" type="button" name="button">buisness servies</div>
	<div class="grid__row">
		<div class="grid__100">
			<div class="grid__row">
				<div class="grid__100-50 st-services__item st-services__item--active">
					<h3>service name</h3>
					<p class="grid__hidden--md">
						service blurb
					</p>
				</div>
				<div class="grid__100-50 st-services__item">
					<h3>service name</h3>
					<p class="grid__hidden--md">
						service blurb
					</p>
				</div>
				<div class="grid__100 st-services__item-content">
					placeholder text
				</div>
			</div>
			<div class="grid__row">
				<div class="grid__100-50 st-services__item">
					<h3>service name</h3>
					<p class="grid__hidden--md">
						service blurb
					</p>
				</div>
				<div class="grid__100-50 st-services__item">
					<h3>service name</h3>
					<p class="grid__hidden--md">
						service blurb
					</p>
				</div>
				<div class="grid__100 st-services__item-content">
					placeholder text
				</div>
			</div>
		</div>
	</div>
</div>
