<div class="st-services">
	<h2>Professional computer repair and network support at your Spokane business or home office.</h2>
	<div class="st-services__tab-main st-services__tab" type="tab" name="tab">buisness servies</div>
	<div class="st-services__content-box">
		<div class="grid__row">
			<div class="grid__100">
				<div class="grid__row">
					<div class="grid__100-50 st-services__tab st-services__item">
						<h3>service name</h3>
						<p class="grid__hidden--md">
							service blurb 1
						</p>
					</div>
					<div class="grid__100-50 st-services__tab st-services__item">
						<h3>service name</h3>
						<p class="grid__hidden--md">
							service blurb 2
						</p>
					</div>
					<div class="grid__100 st-services__item st-services__item-content">
						<p>
						placeholder text 1
						</p>
					</div>
				</div>
				<div class="grid__row">
					<div class="grid__100-50 st-services__tab st-services__item">
						<h3>service name</h3>
						<p class="grid__hidden--md">
							service blurb 3
						</p>
					</div>
					<div class="grid__100-50 st-services__tab st-services__item">
						<h3>service name</h3>
						<p class="grid__hidden--md">
							service blurb 4
						</p>
					</div>
					<div class="grid__100 st-services__item st-services__item-content">
						<p>
						placeholder text 1
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
