<div class="st-testimonials">
	<div class="st-testimonials__wrapper st-testimonials__top">
		<div class="st-testimonials__section">
			<div class="st-testimonials__text st-testimonials__text-left">
				<em>{{company.testemonials.0.quote}}</em>
				<span class="st-testimonials__name">- {{company.testemonials.0.name}}</span>
			</div>
		</div>
		<div class="st-testimonials__section st-testimonials__section--hidden">
			<div class="st-testimonials__text">
				<em>{{company.testemonials.1.quote}}</em>
				<span class="st-testimonials__name">- {{company.testemonials.1.name}}</span>
			</div>
		</div>
	</div>
</div>
