<div class="st-testimonials">
	<div class="grid__row">
		<div class="grid__100-50">
			<div class="st-testimonials__text">
				<em>"Spokane techs, god damn impressed."</em>
				<span class="st-testimonials__name">- Drizzy Drizzle, Drake</span>
			</div>
		</div>
		<div class="grid__100-50">
			<div class="st-testimonials__text st-testimonials__text--hidden">
				<em>"I feel like chicken tonight"</em>
				<span class="st-testimonials__name">- Ghandi</span>
			</div>
		</div>
	</div>
</div>
