<div class="st-testimonials">
	<div class="row">
		<div class="grid__100-50">
			<div class="st-testimonials__text">
				<em>"Wow. These guys know good tech."</em>
				<span class="st-testimonials__name">- Jesus H. Christ</span>
			</div>
		</div>
		<div class="grid__100-50">
			<div class="st-testimonials__text st-testimonials__text--hidden">
				<em>"GGGGRRRRrrreeeaaatttt!"</em>
				<span class="st-testimonials__name">- Jazzy Joyce</span>
			</div>
		</div>
	</div>
</div>
