<header class="st-header">
	<div class="st-header__image">
		<img class="st-header__logo" src="../images/logo.png" alt="" />
		<div class="st-header__contact">
			<div class="st-header__contact-item st-header__contact-phone">(509) 499 - 4937</div>
			<div class="st-header__contact-item st-header__contact-email">Email</div>
		</div>
	</div>
</header>
