<div class="st-testimonials">
	<div class="st-testimonials__wrapper st-testimonials__bottom">
		<div class="st-testimonials__section">
			<div class="st-testimonials__text st-testimonials__text-left">
				<em>{{company.testemonials.2.quote}}</em>
				<span class="st-testimonials__name">- {{company.testemonials.2.name}}</span>
			</div>
		</div>
		<div class="st-testimonials__section st-testimonials__section--hidden">
			<div class="st-testimonials__text st-testimonials__text">
				<em>{{company.testemonials.3.quote}}</em>
				<span class="st-testimonials__name">- {{company.testemonials.3.name}}</span>
			</div>
		</div>
	</div>
</div>
