<div class="st-testimonials">
	<div class="row">
		<div class="grid__100-50">
			<p class="st-testimonials__text">
				"Wow. These guys know good tech. Respect the tech or get yah neck wrecked."
			</p>
		</div>
		<div class="grid__100-50">
			<p class="st-testimonials__text--hidden">
				"GGGGRRRRrrreeeaaatttt!"
			</p>
		</div>
	</div>
</div>
