<header class="st-header st-header__background">
	<img class="st-header__logo" src="../images/logo.png" alt="" />
	<div class="st-header__contact">
		<a href="tel:{{company.contact.phoneRaw}}"class="st-header__contact-item st-header__contact-phone">{{company.contact.phone}}</a>
		<a href="#contact" class="st-header__contact-item st-header__contact-email">Email</a>
	</div>
</header>
