<div class="st-testimonials">
	<div class="st-testimonials__section">
		<div class="st-testimonials__text st-testimonials__text-left">
			<em>"Wow. These guys know good tech. Wowzers this is going ot be along quote. I'm just going to go on."</em>
			<span class="st-testimonials__name">- Jesus H. Christ</span>
		</div>
	</div>
	<div class="st-testimonials__section st-testimonials__section--hidden">
		<div class="st-testimonials__text">
			<em>"GGGGRRRRrrreeeaaatttt!"</em>
			<span class="st-testimonials__name">- Jazzy Joyce</span>
		</div>
	</div>
</div>
