<footer>
	<h2>Contact us!</h2>
	<div class="row">
		<div class="grid__100-50">
			logo
			<div class="st-footer__contact-container">
				<span>(509) 499 - 4937<br>help@spokanetechs.com</span>
			</div>
		</div>
		<div class="grid__100-50">
			<input type="name" name="name" value="">
			<input type="text" name="name" value="">
			<input type="text" name="name" value="">
			<input type="text" rows="5" cols="40" name="name" value="">
			<button type="button" name="button">Send</button>
		</div>
	</div>
	<div class="st_footer__bar">
		<span>© Spokane Techs 2016</span>
	</div>
</footer>
