<footer class="st-footer">
	<div class="st-footer__content">
		<div class="st-footer__contact-container">
			<h2>Contact us!</h2>
			<div class="grid__row">
				<div class="grid__100-50">
					<div class="st-footer__logo"></div>
					<p class="st-footer__contact"><span class="st-footer__contact-type">Phone: </span><span class="st-footer__contact-value">(509) 499 - 4937</span><br><span class="st-footer__contact-type"> Email: </span><span class="st-footer__contact-value">help@spokanetechs.com</span></p>
				</div>
				<div class="grid__100-50">
					<form class="st-footer__form" action="index.html" method="post">
						<input type="name" name="name" placeholder="Name" value="">
						<input type="text" placeholder="Email" value="">
						<input type="text" placeholder="Phone Number" value="">
						<textarea rows="5" cols="40" placeholder="How can we assit you?" value=""></textarea>
						<button type="button" name="button">Send</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="grid__row">
		<div class="st-footer__bar">
			<span>© Spokane Techs 2016</span>
		</div>
	</div>
</footer>
