<div class="services__wrapper">
	<h2>Professional computer repair and network support at your Spokane business or home office.</h2>
	<button class="services__button" type="button" name="button">buisness servies</button>
	<div class="grid__row">
		<div class="grid__100">
			<div class="grid__row">
				<div class="grid__100-50">
					<div class="service__item">
						<h3>service name</h3>
						<p class="grid__md--hidden">
							service blurb
						</p>
					</div>
				</div>
				<div class="grid__100-50">
					<div class="service__item">
						<h3>service name</h3>
						<p class="grid__md--hidden">
							service blurb
						</p>
					</div>
				</div>
				<div class="grid__100 services__item-content grid__md--visible">
					service blurb

					only visible when toggled on ipad+
				</div>
			</div>
			<div class="grid__row">
				<div class="grid__100-50">
					<div class="service__item">
						<h3>service name</h3>
						<p class="grid__md--hidden">
							service blurb
						</p>
					</div>
				</div>
				<div class="grid__100-50">
					<div class="service__item">
						<h3>service name</h3>
						<p class="grid__md--hidden">
							service blurb
						</p>
					</div>
				</div>
				<div class="grid__100 services__item-content grid__md--visible">
					service blurb

					only visible when toggled on ipad+
				</div>
			</div>
		</div>
	</div>
</div>
