<div class="st-testimonials">
	<div class="row">
		<div class="grid__100-50">
			<div class="st-testimonials__text">
				<em>"Wow. These guys know good tech. Respect the tech or get yah neck wrecked."</em>
				<span>- Jesus H. Christ</span>
			</div>
		</div>
		<div class="grid__100-50">
			<div class="st-testimonials__text st-testimonials__text--hidden">
				<em>"GGGGRRRRrrreeeaaatttt!"</em>
				<span>- Jazzy Joyce</span>
			</div>
		</div>
	</div>
</div>
