<div class="st-testimonials">
	<div class="st-testimonials__section">
		<div class="st-testimonials__text st-testimonials__text-left">
			<em>"Spokane techs, god damn impressed."</em>
			<span class="st-testimonials__name">- Drizzy Drizzle, Drake</span>
		</div>
	</div>
	<div class="st-testimonials__section st-testimonials__section--hidden">
		<div class="st-testimonials__text st-testimonials__text">
			<em>"I feel like chicken tonight"</em>
			<span class="st-testimonials__name">- Ghandi</span>
		</div>
	</div>
</div>
