<svg style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<defs>
		<symbol id="icon-google-plus-square" viewBox="0 0 21 24">
		<title>google-plus-square</title>
		<path class="path1" d="M12.281 12.121q0-0.348-0.080-0.857h-4.848v1.768h2.906q-0.040 0.321-0.221 0.67t-0.502 0.71-0.891 0.596-1.292 0.234q-1.326 0-2.263-0.951t-0.938-2.29 0.938-2.29 2.263-0.951q1.232 0 2.049 0.79l1.393-1.353q-1.446-1.339-3.442-1.339-2.143 0-3.643 1.507t-1.5 3.636 1.5 3.636 3.643 1.507q2.21 0 3.569-1.406t1.359-3.616zM16.902 12.737h1.46v-1.473h-1.46v-1.473h-1.473v1.473h-1.473v1.473h1.473v1.473h1.473v-1.473zM20.571 5.571v12.857q0 1.594-1.132 2.725t-2.725 1.132h-12.857q-1.594 0-2.725-1.132t-1.132-2.725v-12.857q0-1.594 1.132-2.725t2.725-1.132h12.857q1.594 0 2.725 1.132t1.132 2.725z"></path>
		</symbol>

		<symbol id="icon-facebook-square" viewBox="0 0 21 24">
		<title>facebook-square</title>
		<path class="path1" d="M16.714 1.714q1.594 0 2.725 1.132t1.132 2.725v12.857q0 1.594-1.132 2.725t-2.725 1.132h-2.518v-7.969h2.665l0.402-3.107h-3.067v-1.982q0-0.75 0.315-1.125t1.225-0.375l1.634-0.013v-2.772q-0.844-0.121-2.384-0.121-1.821 0-2.913 1.071t-1.092 3.027v2.29h-2.679v3.107h2.679v7.969h-7.125q-1.594 0-2.725-1.132t-1.132-2.725v-12.857q0-1.594 1.132-2.725t2.725-1.132h12.857z"></path>
		</symbol>
	</defs>
</svg>
